[submodule "include/liblouis"]
	path = include/liblouis
	url = https://github.com/liblouis/liblouis.git
[submodule "include/minhook"]
	path = include/minhook
	url = https://github.com/RaMMicHaeL/minhook
[submodule "miscDeps"]
	path = miscDeps
	url = https://github.com/nvaccess/nvda-misc-deps
[submodule "include/espeak"]
	path = include/espeak
	url=https://github.com/espeak-ng/espeak-ng
	ignore = dirty
[submodule "include/sonic"]
	path = include/sonic
	url = https://github.com/waywardgeek/sonic.git
	ignore = untracked
[submodule "include/pyserial"]
	path = include/pyserial
	url = https://github.com/pyserial/pyserial.git
	ignore = untracked
[submodule "include/comtypes"]
	path = include/comtypes
	url = https://github.com/nvaccess/comtypes-bin
[submodule "include/scons"]
	path = include/scons
	url = https://github.com/SConsProject/scons
[submodule "include/ia2"]
	path = include/ia2
	url = https://github.com/LinuxA11y/IAccessible2.git
[submodule "include/wxPython"]
	path = include/wxPython
	url = https://github.com/nvaccess/wxPython-bin.git
[submodule "include/configobj"]
	path = include/configobj
	url = https://github.com/DiffSK/configobj.git
[submodule "include/cldr-emoji-annotation"]
	path = include/cldr-emoji-annotation
	url = https://github.com/fujiwarat/cldr-emoji-annotation
[submodule "include/py2exe"]
	path = include/py2exe
	url = https://github.com/nvaccess/py2exe-bin
[submodule "include/javaAccessBridge32"]
	path = include/javaAccessBridge32
	url = https://github.com/nvaccess/javaAccessBridge32-bin.git
