*.mo
source/comInterfaces/*.py
*.log
source/userConfig
build
build_debug
dist
*.dll
*.exe
*.manifest
source/synthDrivers/espeak-data
source/lib
source/lib64
source/typelibs
source/images
source/louis
source/waves
*.obj
*.exp
*.lib
*_I.c
*_P.c
*_C.c
*_S.c
dlldata.c
*.pdb
.sconsign.dblite
user_docs/*/*.html
extras/controllerClient/x86/nvdaController.h
extras/controllerClient/x64
source/_buildVersion.py
user_docs/*/keyCommands.t2t
output
source/brailleDisplayDrivers/handyTech
./developerGuide.html
user_docs/build.t2tConf
launcher/nvda_logo.wav
uninstaller/UAC.nsh
*.pyc
*.pyo
*.dmp
