[submodule "include/liblouis"]
	path = include/liblouis
	url = https://github.com/nvaccess/liblouis.git
[submodule "include/minhook"]
	path = include/minhook
	url = https://github.com/RaMMicHaeL/minhook
[submodule "miscDeps"]
	path = miscDeps
	url = https://bitbucket.org/nvaccess/nvda-misc-deps.git
[submodule "include/espeak"]
	path = include/espeak
	url=https://github.com/espeak-ng/espeak-ng
[submodule "include/sonic"]
	path = include/sonic
	url = https://github.com/waywardgeek/sonic.git
