*.mo
source/comInterfaces/*.py
*.log
source/userConfig
build
build_debug
dist
*.dll
*.exe
*.manifest
source/synthDrivers/espeak-ng-data
source/lib
source/lib64
source/typelibs
source/louis
*.obj
*.exp
*.lib
*_I.c
*_P.c
*_C.c
*_S.c
dlldata.c
*.pdb
.sconsign.dblite
user_docs/*/*.html
user_docs/*/*.css
user_docs/*/keyCommands.t2t
user_docs/build.t2tConf
extras/controllerClient/x86/nvdaController.h
extras/controllerClient/x64
extras/controllerClient/arm64
source/_buildVersion.py
output
testOutput
launcher/nvda_logo.wav
uninstaller/UAC.nsh
*.pyc
*.pyo
*.dmp
tests/unit/nvda.ini
tests/system/settingsCache/*
!tests/system/settingsCache/2020.4/*.txt
source/locale/*/cldr.dic
.vscode
.vs
.venv
nvdaHelper/docs/
