# Build configuration for Appveyor
# Many more options available, see docs:
# https://www.appveyor.com/docs/appveyor-yml/

os: Visual Studio 2022
version: "{branch}-{build}"

branches:
 only:
  - master
  - beta
  - rc
  - /try-.*/
  - /release-.*/

# scripts that are called at very beginning, before repo cloning
init:
  # set the init time for the build, used to calculate the time taken for each stage of the build.
  - ps: |
      "INIT, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append

environment:
 PY_PYTHON: 3.11-32
 secure_authenticode_pass:
  secure: Way+hJyhbiLG/cmCo4+dHHzS5DiSvk/45o6frnIQ27GBX6nVDsh7jwQ7fSnqxBRP
 secure_ssh_pass:
  secure: Iql/RhSathGacONacsyr6gis+rjL75UFZ/R+nPAJpo3asAzQSQQd8hfxq0iv8+Th
 mozillaSymsAuthToken:
  secure: p37Fxo78fsRdmR8v8TPz978QvVaqvbjdIBzFe8ZOpX0FUprm46rkhd374QM1CqMO
 symstore: C:\Program Files (x86)\Windows Kits\10\Debuggers\x64\symstore.exe
 crowdinProjectID: 598017
 crowdinAuthToken:
  secure: E3084gj4JeMZKvZIOLIhqZefuSo/tj7iYPt4yK0geOI/eQgmPvoXt37Xq0KwvXzvZiJny4AsMj1rKMTVxio8EG8KA0YsYYuy+WV1wpFRIn25zGQS+DZ/yycL75SmTWfr

install:
 - ps: |
    "INSTALL_START, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append
 - ps: appveyor\scripts\setBuildVersionVars.ps1
 - ps: appveyor\scripts\decryptFilesForSigning.ps1
 - py -m pip install --upgrade --no-warn-script-location pip
 - git submodule update --init
 - ps: |
    "INSTALL_END, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append

build_script:
 - ps: |
     "BUILD_START, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append
 - ps: appveyor\scripts\setSconsArgs.ps1
 - scons source %sconsArgs%
 - scons %sconsOutTargets% %sconsArgs%
 - ps: appveyor\scripts\buildSymbolStore.ps1
 # The server expects the symbols archive to be structured as ./*.ex_ not ./symbols/*.ex_.
 # Change directory to package, as 7z will structure the archive using the relative path.
 - cd symbols
 - 7z a -tzip -r ..\output\symbols.zip *.dl_ *.ex_ *.pd_
 - cd ..
 - ps: |
     "BUILD_END, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append

before_test:
 - ps: |
     "TESTSETUP_START, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append
 - ps: appveyor\scripts\tests\beforeTests.ps1
 - ps: appveyor\scripts\installNVDA.ps1
 - ps: |
     "TESTSETUP_END, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append

test_script:
 - ps: |
     "TEST_START, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append
 - ps: appveyor\scripts\tests\translationCheck.ps1
 - ps: appveyor\scripts\tests\unitTests.ps1
 - ps: appveyor\scripts\tests\lintCheck.ps1
 - ps: appveyor\scripts\tests\systemTests.ps1
 - ps: |
     "TEST_END, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append

after_test:
 - ps: appveyor\scripts\tests\checkTestFailure.ps1

artifacts:
 - path: output\*
 - path: output\*\*

deploy_script:
 - ps: appveyor\scripts\deployScript.ps1

on_failure:
 - ps: appveyor\scripts\uploadArtifacts.ps1

on_finish:
 - ps: appveyor\scripts\pushPackagingInfo.ps1
 - ps: |
     "FINISH_END, $(Get-Date -Format 'o')"| Out-File ../timing.csv -Append
 - ps: appveyor\scripts\logCiTiming.ps1
