# NVDA's build system is SCons
SCons==4.5.2

# NVDA's runtime dependencies
comtypes==1.2.0
pyserial==3.5
wxPython==4.2.1
git+https://github.com/DiffSK/configobj@e2ba4457c4651fa54f8d59d8dcdd3da950e956b8#egg=configobj
requests==2.31.0
# Pillow is an implicit dependency and requires zlib and jpeg by default, but we don't need it
Pillow==10.0.1 -C "zlib=disable" -C "jpeg=disable"

#NVDA_DMP requires diff-match-patch
fast_diff_match_patch==2.0.1

# typing_extensions are required for specifying default value for `TypeVar`, which is not yet possible with any released version of Python (see PEP 696)
typing-extensions==4.9.0 

# Packaging NVDA
git+https://github.com/py2exe/py2exe@4e7b2b2c60face592e67cb1bc935172a20fa371d#egg=py2exe

# Creating XML unit test reports
unittest-xml-reporting==3.2.0

# Building user documentation
Markdown==3.5.1
mdx_truly_sane_lists==1.3
markdown-link-attr-modifier==0.2.1
mdx-gh-links==0.4
# Sanitize HTML documentation output to prevent XSS from translators
nh3==0.2.15

# For building developer documentation
sphinx==7.2.6
sphinx_rtd_theme==1.3.0

# Requirements for automated linting
flake8 ~= 4.0.1
flake8-tabs == 2.1.0

# Requirements for system tests
robotframework==6.1.1
robotremoteserver==1.1.1
robotframework-screencaplibrary==1.6.0
