# NVDA's build system is SCons
SCons==4.5.2

# NVDA's runtime dependencies
comtypes==1.2.0
pyserial==3.5
wxPython==4.2.1
git+https://github.com/DiffSK/configobj@e2ba4457c4651fa54f8d59d8dcdd3da950e956b8#egg=configobj
requests==2.31.0
# Pillow is an implicit dependency and requires zlib and jpeg by default, but we don't need it
Pillow==10.0.1 -C "zlib=disable" -C "jpeg=disable"

#NVDA_DMP requires diff-match-patch
fast_diff_match_patch==2.0.1

# Packaging NVDA
py2exe==0.13.0.0
# py2exe fails to compile properly without this.
# This can be removed when upgrading py2exe to the next release.
# https://github.com/Ousret/charset_normalizer/issues/253
# https://github.com/py2exe/py2exe/commit/7b34f06486fbc07500e323796d3f3d5fb862aee3
charset-normalizer==2.1.1

# For building developer documentation
sphinx==7.2.6
sphinx_rtd_theme==1.3.0

# Requirements for automated linting
flake8 ~= 3.7.7
flake8-tabs == 2.1.0

# Requirements for system tests
robotframework==6.1.1
robotremoteserver==1.1.1
robotframework-screencaplibrary==1.6.0
