# NVDA's build system is SCons
SCons==4.3.0

# NVDA's runtime dependencies
comtypes==1.1.8
pyserial==3.5
wxPython==4.1.1
git+https://github.com/DiffSK/configobj@3e2f4cc#egg=configobj

#NVDA_DMP requires diff-match-patch
diff_match_patch_python==1.0.2

# Packaging NVDA
py2exe==0.11.1.0

# For building developer documentation
sphinx==3.4.1
sphinx_rtd_theme

# Requirements for automated linting
flake8 ~= 3.7.7
flake8-tabs == 2.1.0

# Requirements for unit tests
nose==1.3.7

# Requirements for system tests
robotframework==3.2.2
robotremoteserver==1.1
robotframework-screencaplibrary==1.5.0
