
.box {
  fill: rgb(80,0,220);
}

.capN {
  fill: yellow;
  stroke: yellow;
  stroke-width: 5;
  font-size: 80;
  font-family: Arial;
}

.capVDA {
  fill: rgb(80,0,220);
  stroke: rgb(80,0,220);
  stroke-width: 5;
  font-size: 80;
  font-family: Arial;
}

.line {
  stroke: rgb(80,0,220);
  stroke-width: 10;
}

.headline {
  fill: rgb(80,0,220);
  stroke: rgb(80,0,220);
  font-size: 18;
  stroke-width: 1;
  font-family: Arial;
}
