body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #333;
}

# heading white, on NVDA purple
h1 {
  color:white;
  background-color: #472F5F;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

# NVDA purple
h2, h3, h4, a {
  color: #472F5F;
}

strong {
  color: #000;
}

# tables
table, td, th {
  border:1px solid black;
}
table{
  border-collapse: collapse;
}
td, th {
  padding: 0.25em;
}
# NVDA purple
th {
  color: #472F5F;
}

# code / pre
code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
pre {
  padding: 1em;
  border-left: 2px solid #69c;
}
